<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/routing">Router Home</a></li>
    <li><a href="/routing/ab.cd">Router 1</a></li>
    <li><a href="/routing/acd">Router 2</a></li>
    <li><a href="/routing/abbbcd">Router 3</a></li>
    <li><a href="/routing/param1/22/param2/name">Router 4</a></li>
  </ul>
</nav>