* {
  padding: 0;
  margin: 0;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

nav ul {
  list-style: none;
}
nav ul li {
  display: inline-block;
  border: 1px solid #00B7FF;
  padding: 4px;
  margin: 4px;
}
nav ul > li:first-child {
  margin-left: 0;
}